In [1]:
import pandas as pd
import numpy as np
data = [[8000, 1000], [9500, np.nan], [5000, 2000]]

df = pd.DataFrame(data, columns=['Salary', 'Others'])

df

   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0

In [2]:
def subtract_federal_tax(df):

    return df * 0.9

def subtract_state_tax(df, rate):

    return df * (1 - rate)

def subtract_national_insurance(df, rate, rate_increase):

    new_rate = rate + rate_increase

    return df * (1 - new_rate)

In [5]:
(

    df.pipe(subtract_federal_tax).pipe(subtract_state_tax, rate=0.12).pipe(subtract_national_insurance, rate=0.05, rate_increase=0.02)

)

df

   Salary  Others
0    8000  1000.0
1    9500     NaN
2    5000  2000.0